h1 {
  font-size: 4em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.33333em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.66667em; }

.color-red {
  background-color: red; }

.color-green {
  background-color: green; }

.color-yellow {
  background-color: yellow; }

.color-blue {
  background-color: blue; }

.suc-capital {
  background: linear-gradient(to bottom, #64b5f3 0%, #d5eec3 100%); }

.suc-ybuena {
  background: linear-gradient(to bottom, #85cc62 0%, #d5eec3 100%); }

.suc-sur {
  background: linear-gradient(to bottom, #5ad4ce 0%, #d5eec3 100%); }

.contenedor-sucursal {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  font-size: 20px; }

.sucursal {
  display: grid;
  grid-template-areas: "nombre" "datos" "foto" "mapa"; }

.nombre {
  grid-area: nombre; }

.datos {
  grid-area: datos; }

.foto {
  grid-area: foto; }

.mapa {
  grid-area: mapa; }

.nombre, .datos, .foto, .mapa {
  padding: 5px;
  text-align: center; }

/* Gradientes diferenciando capital de provincia */
/* BOTONES */
.boton, .boton-contacto {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 20px; }

.boton-contacto {
  background-color: #2a91f1; }

.imagen-contacto {
  grid-area: imagen-contacto;
  background-image: url(../img/presupuesto.jpg);
  background-position: center center;
  background-size: cover;
  height: 20rem; }

.contenido-contacto {
  color: blue;
  padding: 10px; }

.contenido-contacto h2 {
  font-size: 1.5rem; }

.contenido-contacto p {
  font-size: 1rem;
  margin: 20px;
  padding: 20px; }

.prueba {
  height: 270px;
  width: 310px;
  margin: 1px; }
